<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head %>
	<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

	<header>
		<% include ../partials/adminHeader2 %>
	</header>
	<div class="panel panel-primary">
		<a href="/logout">
			<button class="btn-success btn pull-right">
				Logout
			</button>
		</a>
	</div>
	<h2>Product list</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Catagory</th>
    <th>Quantity</th>
    <th>Option</th>
  </tr>
  <%for(var i=0;i<result.length;i++){%>
  <tr>
    <td><%=result[i].id%></td>
    <td><%=result[i].productname%></td>
    <td><%=result[i].price%></td>
    <td><%=result[i].catagory%></td>
    <td><%=result[i].quantity%></td>
    <td><a href="/admindashboard/productedit/<%=result[i].id%>">Edit</a><a href="/admindashboard/productdelete/<%=result[i].id%>">Delete</a></td>
  </tr>
  <%}%>
  
</table>
	<hr>
	<footer class="bg-dark text-white">
	<% include ../partials/footer %>
	</footer>
</body>	
</html>